/* Google Fonts - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Comic+Relief:wght@400;700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Satisfy&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
  height: 110vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(https://img.freepik.com/free-photo/top-view-monochromatic-leaves-with-copy-space_23-2148770315.jpg?t=st=1745735611~exp=1745739211~hmac=6d8a8950f525c3326e1fa1edbd4c49bdf0587be8a19aae7b9542cabb34322d55&w=900);
  background-repeat: no-repeat;
  column-gap: 30px;
  background-size: cover;
}

.form {
  position: absolute;
  max-width: 430px;
  width: 100%;
  padding: 30px;
  border-radius: 6px;
  background: #fdfdfd;
}

header {
  font-size: 36px;
  font-weight: 600;
  color: #7336a8;
  text-align: center;
  font-family: "Satisfy", cursive;
}

form {
  margin-top: 30px;
}

.form .field {
  position: relative;
  height: 50px;
  width: 100%;
  margin-top: 20px;
  border-radius: 6px;
}

.field input,
.field button {
  height: 100%;
  width: 100%;
  border: none;
  font-size: 16px;
  font-weight: 400;
  border-radius: 6px;
}

.field input {
  outline: none;
  padding: 0 15px;
  border: 1px solid#CACACA;
  padding: 0 40px 0 15px;
}

.field input:focus {
  border: 1px solid #7336a8;
}

.eye-icon {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  font-size: 18px;
  color: #7336a8;
  cursor: pointer;
  padding: 5px;
}

.field button {
  color: #fff;
  background-color: #7336a8;
  transition: all 0.3s ease;
  cursor: pointer;
}

.field button:hover {
  background-color: #7228b2;
}

.form-link {
  text-align: center;
  margin-top: 10px;
}

.form-link span,
.form-link a {
  font-size: 15px;
  font-weight: 400;
  color: #232836;
}

.form a {
  color: #7336a8;
  text-decoration: none;
}

.form-content a:hover {
  text-decoration: underline;
}

.line {
  position: relative;
  height: 1px;
  width: 100%;
  margin: 36px 0;
  background-color: #d4d4d4;
}

.line::before {
  content: "Or";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  color: #8b8b8b;
  padding: 0 15px;
}

.media-options a {
  display: flex;
  align-items: center;
  justify-content: center;
}

a.facebook {
  color: #fff;
  background-color: #7336a8;
}

.input-icon {
  position: absolute;
  top: 50%;
  right: 12px;
  transform: translateY(-50%);
  font-size: 18px;
  color: #7336a8;
}

a.facebook .facebook-icon {
  height: 28px;
  width: 28px;
  color: #0171d3;
  font-size: 20px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
}

.facebook-icon,
img.google-img {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
}

img.google-img {
  height: 40px;
  width: 40px;
  object-fit: cover;
}

a.google {
  border: 1px solid #cacaca;
}

a.google span {
  font-weight: 500;
  opacity: 0.6;
  color: #232836;
}

@media screen and (max-width: 400px) {
  .form {
    padding: 30px 20px;
  }
}
